---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14mu0LAQtNZoyYMJdX0ssbmK&description=Sign%20up%20charge%20for%20bob%40bob.com
    headers:
      Authorization:
      - Bearer sk_test_nWghOIgECP61vAeNAyvebr68
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14mu0MAQtNZoyYMJPB7thVhK"
          }
        }
  recorded_at: Sun, 12 Oct 2014 21:35:59 GMT
recorded_with: VCR 2.9.3
