---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_157ykLAQtNZoyYMJQJiGyUzF&email=bob%40bob.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_nWghOIgECP61vAeNAyvebr68
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418172870,
          "id": "cus_5IZuDvfZ7WJezt",
          "livemode": false,
          "description": null,
          "email": "bob@bob.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5IZuDvfZ7WJezt/subscriptions",
            "data": [
              {
                "id": "sub_5IZuMfKizIYtES",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1414187691,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1418172870,
                "status": "active",
                "customer": "cus_5IZuDvfZ7WJezt",
                "cancel_at_period_end": false,
                "current_period_start": 1418172870,
                "current_period_end": 1420851270,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5IZuDvfZ7WJezt/cards",
            "data": [
              {
                "id": "card_157ykLAQtNZoyYMJdEUQN8YV",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "9jgXysEZroh2shiR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5IZuDvfZ7WJezt"
              }
            ]
          },
          "default_card": "card_157ykLAQtNZoyYMJdEUQN8YV"
        }
  recorded_at: Wed, 10 Dec 2014 00:54:31 GMT
recorded_with: VCR 2.9.3
