---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14mu0CAQtNZoyYMJnE1NAkWK&description=Sign%20up%20charge%20for%20bob%40bob.com
    headers:
      Authorization:
      - Bearer sk_test_nWghOIgECP61vAeNAyvebr68
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14mu0IAQtNZoyYMJz8RHMjb6",
          "object": "charge",
          "created": 1413149750,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14mu0CAQtNZoyYMJhFr0AfDw",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "9jgXysEZroh2shiR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14mu0IAQtNZoyYMJz8RHMjb6/refunds",
            "data": []
          },
          "balance_transaction": "txn_14mu0JAQtNZoyYMJSC0kD7vB",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for bob@bob.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Sun, 12 Oct 2014 21:35:55 GMT
recorded_with: VCR 2.9.3
