!!!5
%html(lang="en-US")
  %body
    %p Hi #{@invitation.recipient_name},
    %p #{@invitation.inviter.full_name} is inviting you to join MyFlix. 
    %p #{@invitation.message}
    %p
      =link_to "Click here to join MyFlix", register_with_token_url(@invitation.token)
