---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14rxyWAQtNZoyYMJUgDdNISI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_nWghOIgECP61vAeNAyvebr68
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14rxyWAQtNZoyYMJUgDdNISI",
          "created": 1414356656,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14rxyWAQtNZoyYMJYtqLJWpo",
              "object": "charge",
              "created": 1414356656,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14rxyUAQtNZoyYMJRtsclxqZ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2016,
                "fingerprint": "9jgXysEZroh2shiR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5222Vc3jpmZtoi"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14rxyWAQtNZoyYMJYtqLJWpo/refunds",
                "data": []
              },
              "balance_transaction": "txn_14rxyWAQtNZoyYMJJgoucAWs",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5222Vc3jpmZtoi",
              "invoice": "in_14rxyWAQtNZoyYMJG7qqHR7B",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5222h4oLuYmAAX"
        }
  recorded_at: Mon, 27 Oct 2014 00:26:04 GMT
recorded_with: VCR 2.9.3
