%section.genre
  %header.clearfix
    %h1 
      ="Showing reults for: #{@search_phrase}"
  %article.row
    - if @search_result.present?
      - @search_result.each do |vid|
        .video.col-md-2
          = link_to video_path(vid), nil  do 
            %img(src="#{vid.small_cover_url}")
    - else
      %h1 
        Your search did return any results. Please search again.