- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to "#{category.name}", category_path(category)
    .videos.row
      - category.recent_videos.each do |vid|
        .video.col-sm-2 
          = link_to video_path(vid)  do
            %img(src="#{vid.small_cover_url}")
          -if current_user.admin?
            %p
              =link_to 'Edit', admin_video_path(vid)   
