---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14t8pdAQtNZoyYMJ7ThBBnCs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_nWghOIgECP61vAeNAyvebr68
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14t8pdAQtNZoyYMJ7ThBBnCs",
          "created": 1414636717,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14t8pdAQtNZoyYMJRjOaz6oC",
              "object": "charge",
              "created": 1414636717,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14t8oYAQtNZoyYMJuJWnNrCE",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2019,
                "fingerprint": "2OHQZhIaz2LAFdam",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_52VyWqbCqsXdHb"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14t8pdAQtNZoyYMJRjOaz6oC/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_52VyWqbCqsXdHb",
              "invoice": null,
              "description": "paymaent to fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "fraud_details": {
                "stripe_report": null,
                "user_report": null
              },
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_53FK4A74kH6Bvk"
        }
  recorded_at: Thu, 30 Oct 2014 02:51:41 GMT
recorded_with: VCR 2.9.3
