---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_nWghOIgECP61vAeNAyvebr68
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14rGjTAQtNZoyYMJEB8oCnCD",
          "livemode": false,
          "created": 1414190431,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14rGjTAQtNZoyYMJVNsCj5G6",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "fBsuG3keV6229PjW",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Fri, 24 Oct 2014 22:40:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14rGjTAQtNZoyYMJEB8oCnCD&email=sister_hudson%40crookszieme.net&plan=base
    headers:
      Authorization:
      - Bearer sk_test_nWghOIgECP61vAeNAyvebr68
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 24 Oct 2014 22:40:52 GMT
recorded_with: VCR 2.9.3
