---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_nWghOIgECP61vAeNAyvebr68
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14sOJeAQtNZoyYMJzjeZvIx3",
          "livemode": false,
          "created": 1414457910,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14sOJeAQtNZoyYMJU9Br0eTT",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "9jgXysEZroh2shiR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Tue, 28 Oct 2014 00:59:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14sOJeAQtNZoyYMJzjeZvIx3&email=jermain%40herzog.name&plan=base
    headers:
      Authorization:
      - Bearer sk_test_nWghOIgECP61vAeNAyvebr68
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1414457911,
          "id": "cus_52TGtWWLMCm5mC",
          "livemode": false,
          "description": null,
          "email": "jermain@herzog.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_52TGtWWLMCm5mC/subscriptions",
            "data": [
              {
                "id": "sub_52TGFaKh9PhDqm",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1414187691,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1414457911,
                "status": "active",
                "customer": "cus_52TGtWWLMCm5mC",
                "cancel_at_period_end": false,
                "current_period_start": 1414457911,
                "current_period_end": 1417136311,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_52TGtWWLMCm5mC/cards",
            "data": [
              {
                "id": "card_14sOJeAQtNZoyYMJU9Br0eTT",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2016,
                "fingerprint": "9jgXysEZroh2shiR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_52TGtWWLMCm5mC"
              }
            ]
          },
          "default_card": "card_14sOJeAQtNZoyYMJU9Br0eTT"
        }
  recorded_at: Tue, 28 Oct 2014 00:59:04 GMT
recorded_with: VCR 2.9.3
